.button {
  display: inline-block;
  background-color: #fbfcff;
  padding: 8px 14px;
  border: 2px solid #8dfdec;
  border-radius: 6px;
}

.button:hover {
  background-color: #c8fff6;
}

.button:active {
  background-color: #30ffe6;
}
