/* Option */
.option {
  display: inline-block;
  background-color: #fbfcff;
  padding: 14px 14px;
  cursor: 'pointer';
}

.option:hover {
  background-color: #c8fff6;
}

.option:active {
  background-color: #8dfdec;
}

.optionContent {
  display: flex;
  flex-direction: row;
}

/* OptionList */
.optionList {
  display: flex;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  background-color: #fbfcff;
  border: 1px solid #c0ccde;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
