.header {
  color: #131820;
  font-size: 22px;
}

.subHeader {
  color: #131820;
  font-size: 20px;
}

.content {
  color: #131820;
  font-size: 16px;
}

/* Above phone */
@media (min-width: 768px) {
  .header {
    color: #131820;
    font-size: 36px;
  }

  .subHeader {
    color: #131820;
    font-size: 24px;
  }

  .content {
    color: #131820;
    font-size: 16px;
  }
}
