.placeholder,
.placeholderII,
.placeholderIII,
.placeholderIV,
.placeholderV {
  height: 18px;
  image-rendering: pixelated;
  width: 18px;
}

.menu {
  height: 4px;
  image-rendering: pixelated;
  width: 20x;
}
