.root {
  height: 100vh;
  width: 100%;
}

.container {
  height: 100vh;
  background-color: #fbfcff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  width: 60vw;
  padding: 40px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Above phone */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .headerContainer {
    width: 60vw;
    padding: 72px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
