body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.container {
  align-items: center;
  background-color: #fbfcff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px 12px 0px 12px;
  width: 60vw;
}

/* Above phone */
@media (min-width: 768px) {
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .headerContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 72px 20px 0px 20px;
    width: 60vw;
  }
}
